<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com" th:replace="admin/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>userDashboard</title>
</head>
<body>
<section>

    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
            <th scope="col">Active</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u : ${allUsers}">
            <td th:text="${u.name}"></td>
            <td th:text="${u.role}"></td>
            <td th:text="${u.isEnabled}"></td>
            <td>

                <a th:href="@{'/admin/delete/' + ${u.userId}}" class="btn btn-danger btn-sm">Delete</a>
                <a th:href="@{'/admin/download/' + ${u.userId}}" class="btn btn-success btn-sm">Download</a>

            </td>
        </tr>
        </tbody>
    </table>

</section>
</body>
</html>